<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	 crossorigin="anonymous">
	<!-- <script src="assets/javascript/formValidate.js"></script> -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
	<!-- Firebase link -->
	<script src="https://www.gstatic.com/firebasejs/5.5.2/firebase.js"></script>
	<!-- CSS  -->
	<link href="/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBbMW1zoS4wDZPiww8JT1EDrUr0jfbeqw0&callback=initMap"
	 <title>Burgers!</title >
			<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/main.js"></script>
</head>

<body class="background">
	<nav class="light-blue lighten-1" role="navigation">
		<div class="nav-wrapper container">
			<ul class="right hide-on-med-and-down">
				<ul id="nav-mobile" class="sidenav"></ul>
			</ul>
			<a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
		</div>
	</nav>
	{{{ body }}}


	<footer class="page-footer orange">
		<div class="container">
			<div class="row">
				<div class="col l6 s12">
					<h5 class="white-text">Mi Party App Inc.</h5>
					<p class="grey-text text-lighten-4">We are a team of coding bootcampers working to deliver an app that
						helps party planners organize their events through a collaboration with fellow hosts and guests.</p>
				</div>
			</div>
		</div>

		<div class="footer-copyright">
			<div class="container">
			</div>
		</div>
	</footer>
</body>

</html>